@import "variables";


// nav-bar 

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100vw;
    height: 10vh;
    position:absolute;
    //margin-top: 20px;
    background-color: $b-color;
    
}
nav{
    height: 10vh; 
}
.nav-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 20%;
    height: 10%;
    position: absolute;
    top: 45px;
    left: 50px;
    z-index: 1;
    li a{
    text-decoration: none;
    color:$black;
    font-size: 18px;
    }
    
}
.nav-links{
    clip-path: circle(1000px at 110% -10%);
    -webkit-clip-path:circle(1000px at 110% -10%); 
    
}
.nav-links.open{
    flex-direction: column;
    height: 30vh;
    width: 15vw;
    clip-path: circle(1000px at 90% 10%);
    -webkit-clip-path:circle(1000px at 90% 10%);
}
.nav-right{
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 15%;
    height: 20%;
    float: right;
    top: 35px;
    position: relative;
    margin-left: auto;
    li a{
        text-decoration: none;
        color: black;
        font-size: 20px;
        }
}
.line{
    width: 30px;
    height: 3px;
    background-color: $black;
    margin: 5px;
}
nav{
    position: relative;
}
.hamburger{
    position: absolute;
    cursor: pointer;
    left: 1%;
    top:0;
    transform: translate(-20%, 110%);
}

// first section of the page
.header-container{
    height: 100vh;
    width: 100vw;
    background-color: $b-color;
}
.number{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 8rem;
    height: 100%;
    font-family: $font;
    margin-left: -30px;
    color:$gray;
    overflow: hidden; 
    position: absolute;  
}

.container-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;

}
.line-v{ 
    height: 6%;
    border: 1.5px solid $gray;
    
}
.title{
    position: relative;
    left: 100px;
    bottom: 60px;
    width: 10%;
    height: 10%;
    font-size: .9rem;
    color: $gray;
    //margin-left: 50px;
}

.headlines{
    height: 22%;
    width: 40%;
    font-size: 3rem;
    position: relative;
    top: 70px;
    left: 175px;
}
.pragraph{
    height: 15%;
    width: 40%;
    color: $gray;
    position: relative;
    left: 175px;
    font-size: .9rem;
}
.explore{
    height: 10%;
    width: 40%;
    color: $gray;
    position: relative;
    left: 175px;
    top: 60px;
    font-size: .9rem;
    color: #000;
    text-decoration: none;
}

.container-2{
    display: flex;
    justify-content: flex-end;
    align-items: start;
    height:10%;
    width: 90%;
    .image-sofa{
        position: relative;
        bottom:  550px;
        width: 40%;
    }
}
