.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 10vh;
  position: absolute;
  margin-top: 20px;
}

nav {
  height: 10vh;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  width: 20%;
  height: 10%;
  position: absolute;
  top: 45px;
  left: 50px;
  z-index: 1;
}

.nav-links li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.nav-links {
  clip-path: circle(1000px at 110% -10%);
  -webkit-clip-path: circle(1000px at 110% -10%);
}

.nav-links.open {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 30vh;
  width: 15vw;
  clip-path: circle(1000px at 90% 10%);
  -webkit-clip-path: circle(1000px at 90% 10%);
}

.nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  width: 15%;
  height: 20%;
  float: right;
  top: 35px;
  position: relative;
  margin-left: auto;
}

.nav-right li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.line {
  width: 30px;
  height: 3px;
  background-color: black;
  margin: 5px;
}

nav {
  position: relative;
}

.hamburger {
  position: absolute;
  cursor: pointer;
  left: 1%;
  top: 0;
  -webkit-transform: translate(-20%, 110%);
          transform: translate(-20%, 110%);
}

@media (min-width: 100px) and (max-width: 424px) {
  .logo {
    margin-top: 20px;
  }
  .line {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 5px;
  }
  nav {
    position: relative;
  }
  .hamburger {
    position: absolute;
    cursor: pointer;
    left: 7%;
    top: 110%;
    -webkit-transform: translate(-20%, -100%);
            transform: translate(-20%, -100%);
  }
  .nav-links {
    position: fixed;
    height: 100vh;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: none;
  }
  .nav-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 30%;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .logo {
    margin-top: 20px;
  }
  .line {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 5px;
  }
  nav {
    position: relative;
  }
  .hamburger {
    position: absolute;
    cursor: pointer;
    left: 4%;
    top: 0%;
    -webkit-transform: translate(-20%, 110%);
            transform: translate(-20%, 110%);
    z-index: 2;
  }
  .nav-links {
    position: fixed;
    height: 30vh;
    width: 20%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    clip-path: circle(10px at 90% -10%);
    -webkit-clip-path: circle(10px at 90% -10%);
  }
  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
  }
  .nav-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 30%;
  }
}

@media (min-width: 769px) and (max-width: 1700px) {
  .logo {
    margin-top: 20px;
  }
  .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
    width: 20%;
    height: 10%;
    position: absolute;
    top: 45px;
    left: 50px;
    z-index: 1;
  }
  .nav-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 20%;
  }
  .hamburger {
    position: absolute;
    cursor: pointer;
    left: 1%;
    top: 0%;
    -webkit-transform: translate(-20%, 110%);
            transform: translate(-20%, 110%);
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "EB Garamond", serif;
}
/*# sourceMappingURL=style.css.map */